
body {
  font-family: arial;
  background-color: #000000;
  margin: 0px;
}

#mainContainer {
  height: 100%;
  width: 100%;
}

#NavBar {
  background-color: #000000;
  height: 10vh;
  width: 100%;
  color: #f2f2f2;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.TopNav a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.TopNav a:hover {
  background-color:#24ed2e;
  color: black;
}
#TitleBox {
  padding: 30px 20px 20px 20px;
}

#HeaderBox {
  background-color:#fc0303;
  width: 100%;
  color: #fff;
  font-size: 2em;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;

}

#MainContents {
  height: 140vh;
  width: 100%;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #16d949;
  display: flex;
  flex-direction: column;
}

.row {
  height: 60vh;
  width: 100%;
  padding: 40px 0px 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Picture {
  width: 45vw;
  height: 40vh;
  object-fit: cover;
}

.Text {
  width: 35vw;
  height: 35vh;
  font-size: 1.2em;
  line-height: 1.7em;
  text-align: justify;
  display: flex;
  align-items: center;
}
p {
  margin: 0px;
}

#Example1Contents {
  height: 140vh;
  width: 100%;
  margin: 0px;
  color: #16d949;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Example {
  width: 40vw;
  height: 140vh;
  font-size: 1.1em;
  line-height: 1.6em;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.ImageBox{
  width: 50vw;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
}

.images {
  width: 25vw;
  height: 40vh;
  object-fit: cover;
  padding: 5px;
}
